

/* GLOBALS */
div.profile-pic.x-small {
    height: 30px;
    width: 30px;
}

div.profile-pic.x-small img {
    height: 100%;
    width: 100%;
}


/* END GLOBALS */


body{
	margin:0;
	padding:0;
	font-family: Calibri;
    overflow: hidden;
    /*background-color: rgb(231,232,243);*/
}

#maincontainer {
    z-index: 1;
}

#contentwrapper {
	float: left;
	width: 100%;   
    height: 100%;
}

#contentcolumn {
	margin-right: 250px;
}

#rightcolumn {
	float: left;
	width: 250px; 
	margin-left: -250px;
	background-color: rgb(238,243,255);
	height: 100%;
	overflow: auto;
}

#footer {
	clear: left;
	width: 100%;
	background: rgb(231,232,243);	
	padding-top: 6px;
    z-index: 1;
}

#footer img {
	height: 50px;
	width: 50px;
	border-radius: 7px;
	margin-left: 8px;   
}

#footer img:hover {
    cursor: pointer;
}

#pepper-pig {    
    position: absolute;
    right: 230px;
    margin-top: -150px;
    float: right;    
}

#pepper-pig:hover {    
    box-shadow: 0 0 10px 3px rgb(40,170,225);   
}

#pepper-pig img {
    height: 150px;
    width: 130px;    
}

#shoutBubble {
    right: 290px;
    margin-top: -200px;    
    z-index: 50;
    background: rgb(255,158,158); 
    width: 175px; 
    height: 40px; 
    border-radius: 10px; 
    float: right; 
    position: absolute;
    text-align: center;
    display: none;
}
#shoutBubble:before {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    top: 40px;
    left: 85px;
	border: 15px solid;
	border-color: rgb(255,158,158) rgb(255,158,158) transparent transparent;
}
#shoutBubbleText {
    padding-top: 10px;
}

.innertube{
	margin: 0px;
	margin-top: 0;
}
    
.innertube.feed {
    height: 530px;
    overflow: auto;
    box-shadow: 0 0 7px rgb(163,192,216);
    border-left: 3px rgb(210,209,226) solid;
}

#header {
	background-color: rgb(238,243,255);
}

#searchbar {
	vertical-align: middle;
	padding-bottom: 10px;
}

img#google {
	vertical-align: middle;
	padding-right: 100px;
	padding-left: 70px;
	padding-top: 13px;
}

input#googleSearch {
    font-size: 11pt;
    padding-left: 6px;
    padding-bottom: 4px;
}

#searchbar input {
	vertical-align: bottom;
	width: 600px;
	height: 20px;
	padding-top: 5px;
	border: 1px rgb(204,210,220) solid;
}
#searchbar img {
	vertical-align: bottom;	
}

#searchicon {
	padding-left: 20px; 
	padding-top: 8px;
	padding-bottom: 6px;
	padding-right: 20px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: rgb(60,132,255);
    cursor: pointer;
}

#bodycontent {
	background-color: #fff;	
	min-height: 600px;
    background: rgb(252,252,252) url("../images/back-logo.png") no-repeat center;
    white-space: nowrap;
}

a#toDrag, div#toDrag, #dropTarget {
	font-size: 20px;
	border: solid 1px blue;
	background: white;
	width: 100px;
	padding: 1em;
	display: block;
    color: #000099;
    position: relative;
    font-family: "Times New Roman", serif;    
}

div.leftPanel, div.panel1 {
	width: 100%;		
	height: 100%;
    overflow: auto;  
    display: inline-block;
    white-space: normal;
}

div.rightPanel, div.panel2 {
	width: 50%;		
	height: 100%;
    overflow: auto;
    display: inline-block;
    white-space: normal;
}

div.bottomPanel, div.panel3 {	
    overflow: auto;
    float: left;
}

div.panel4 {	
    overflow: auto;
    float: left;
}

div.leftPanel img.header, div.rightPanel img.header, div.bottomPanel img.header, div[class*='panel'] img.header {
	width: 209px;
	height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;       
}

div.leftPanel div.header, div.rightPanel div.header, div.bottomPanel div.header, div[class*='panel'] div.header {
	text-align: center;
	height: 50px;
    position: fixed;
}

div.leftPanel img.exit, div.rightPanel img.exit, div.bottomPanel img.exit, div[class*='panel'] img.exit {
	width: 23px;
	height: 24px;
	float: right;
    padding-top: 6px;
    padding-right: 6px;
    cursor: pointer;
}

/*styling for all panels and headers based on panel name*/
div[class*='panel'].facebook {
    border: 3px rgb(59,87,157) solid;
    background-color: rgb(206,214,228);
}

div[class*='panel'].facebook div.header {
    background-color: rgb(59,87,157);
}

div[class*='panel'].twitter {
    border: 3px rgb(40,170,225) solid;
}

div[class*='panel'].twitter div.header {
    background-color: rgb(40,170,225);
}

div[class*='panel'].yahoo {
    border: 3px rgb(94,30,141) solid;
}

div[class*='panel'].yahoo div.header {
    background-color: rgb(94,30,141);
}

div[class*='panel'].dropbox {
    border: 3px rgb(49, 121, 190) solid;
    background-color: rgb(255, 255, 255);
}

div[class*='panel'].dropbox div.header {
    background-color: rgb(49, 121, 190);
}

div[class*='panel'].instagram {
    border: 3px rgb(61,115,156) solid;
    background-color: rgba(61,115,156, 0.05);
}

div[class*='panel'].instagram div.header {
    background-color: rgb(61,115,156);
}

div[class*='panel'].linkedin {
    border: 3px rgb(59,87,157) solid;
    background-color: rgb(206,214,228);
}

div[class*='panel'].linkedin div.header {
    background-color: rgb(59,87,157);
}

div[class*='panel'].skype {
    border: 3px rgb(59,87,157) solid;
    background-color: rgb(206,214,228);
}

div[class*='panel'].skype div.header {
    background-color: rgb(59,87,157);
}

div[class*='panel'].soundcloud {
    border: 3px rgb(59,87,157) solid;
    background-color: rgb(206,214,228);
}

div[class*='panel'].soundcloud div.header {
    background-color: rgb(59,87,157);
}

div[class*='panel'] .spanContent {
    white-space: normal;
}



div.rightPanel.facebook, div.leftPanel.facebookpanel {
	background-color: rgb(206,213,230);
}

div.rightPanel.twitter, div.leftPanel.twitter, div.bottomPanel.twitter {
	background-color: #fff;
}

.feedItem {
    font-family: Helvetica, Arial, 'lucida grande';
	font-size: 12px;
	border-bottom: 1px white solid;    
    height: 65px;
}

.feedItem:hover {
    box-shadow: 0 0 7px rgb(163,192,216);
    cursor: pointer;   
}

.feedItem.linkedin img {
	border: 3px rgb(19,104,156) solid;
}
.feedItem.facebook img {
	border: 3px rgb(59,87,157) solid;
}
.feedItem.soundcloud img {
	border: 3px rgb(255,99,24) solid;
}
.feedItem.twitter img {
	border: 3px rgb(40,170,225) solid;
}
.feedItem.skype img {
	border: 3px rgb(48,167,223) solid;
}
.feedItem.google img {
	border: 3px rgb(19,104,156) solid;
}
.feedItem.instagram img {
	border: 3px rgb(61,115,156) solid;
}
.feedItem.youtube img {
	border: 3px rgb(236,35,42) solid;
}
.feedItem.dropbox img {
	border: 3px rgb(46,121,190) solid;
}

.dragicon {
    height: 100px;
    width: 100px;    
}

.feedItem img {			
	height: 30px;
	width: 30px;
}
.feedItem .imageWrapper {
    margin-right: 7px;
    margin-left: 7px;
    float: left;
    margin-top: 7px;
}
.feedItem .detailsWrapper {
    float: left;
    width: 170px;
    margin-top: 5px;
}
.feedItem .detailsWrapper span.spanContent a {
    color: rgb(122,131,176);
    text-decoration: none;
}
.feedItem .detailsWrapper span.youtube {
    color: rgb(236,35,42);
}
.feedItem .detailsWrapper span.facebook {
    color: rgb(59,87,157);
}
.feedItem .detailsWrapper span.instagram {
    color: rgb(61,115,156);
}
.feedItem .detailsWrapper span.dropbox {
    color: rgb(46,121,190);
}
.feedItem .detailsWrapper span.google {
    color: rgb(19,104,156);
}
.feedItem .detailsWrapper span.skype {
    color: rgb(48,167,223);
}
.feedItem .detailsWrapper span.soundcloud {
    color: rgb(255,99,24);
}
.feedItem .detailsWrapper span.twitter {
    color: rgb(40,170,225);
}
.feedItem .detailsWrapper span.linkedin {
    color: rgb(19,104,156);
}


.disabled {
    opacity: 0.4;
}

#facebookContent {
    width: 100%;     
    background-color: rgb(206,214,228);
    background-repeat: repeat-y;
    height: 100%;
}

#twitterContent {
    width: 100%;   
}

#instagramContenet {
    width: 100%;          
}

#linkedInContent {
    width: 100%;   
}
#skypeContent {
    width: 100%;          
}

#soundcloudContent {
    width: 100%;   
}

#facebookContent textarea.postbar {
    width: 90%;
    height: 50px;
    padding: 10px 10px 0 10px;  
    border-radius: 5px; 
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    overflow: hidden;
}

#facebookContent .post {
    width: 90%;   
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    padding: 10px 10px 0 10px;  
}

#facebookContent .post .likes {
    /*color: rgb(59, 89, 152);*/
    font-size: 12px;
    margin-bottom: 10px;
}

#facebookContent .post .comments {
    font-size: 12px;
    margin-left: 7px;
    margin-bottom: 10px;
}

#facebookContent .post .profile-pic {
    float: left; 
    height: auto; 
    width: 41px; 
    vertical-align: top; 
    padding-right: 5px;
}

#facebookContent .post .spanContent a {
    text-decoration: none;
    color: rgb(59, 89, 152);
}
#facebookContent .post .spanContent a:hover {
    text-decoration: underline;
}


#twitterContent textarea.postbar {
    width: 90%;
    height: 50px;
    padding: 7px 7px 0 7px;  
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px rgb(203,203,203) solid; 
    overflow: hidden;
}

#twitterContent .post {
    width: 90%;  
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px rgb(203,203,203) solid;  
    padding: 7px 7px 7px 7px;  
}

#twitterContent .post .imageWrapper {
    float: left;
    margin-right: 5px;
}

#twitterContent .post .imageWrapper img {
    height: auto; 
    width: 39px;
}

#twitterContent .post .detailsWrapper {
    float: left;
    width: 90%;
}

#twitterContent .post:hover {
    box-shadow: 0 0 7px rgb(163,192,216);
}

#dropboxContent .dropbox {
    float: left;
    padding: 20px;
}
#dropboxContent .dropbox .imageWrapper {
    height: 82px;
    width: 82px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

#dropboxContent .dropbox .imageWrapper img {
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 82px;
    max-width: 82px;
}

#dropboxContent .dropbox .detailsWrapper {
    text-align: center;
}

#dropboxContent .dropbox .detailsWrapper span {
    white-space: pre-wrap;
}

#yahooContentSmall .email {
    width: 90%;  
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252,252,252);
    border-bottom: 1px rgb(203,203,203) solid;  
    padding: 10px; 
}

#yahooContentSmall .email .imageWrapper {
    float: left;
    margin-right: 5px;
}

#yahooContentSmall .email .imageWrapper img {
    height: auto; 
    width: 28px;
}

#yahooContentSmall .email .detailsWrapper {
    
}

#yahooContentSmall .email:hover {
    
}

#yahooContentSmall .email.open:hover {
    box-shadow: 0 0 7px rgb(163,192,216);
    background-color: #eee;
    cursor: pointer;
}

#yahooContentSmall .email a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

#yahooContentSmall .email .subject {
    color: #666;
}

#yahooContentSmall .email.new .subject {
    color: black;
}

#yahooContentSmall .email.new:hover {
    box-shadow: none;
    background-color: white;
}

.postbuttons {
    width: 90%; 
    height: 30px; 
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
    background-color: rgb(238,238,238); 
    border-top: 1px rgb(225,225,225) solid;
    text-align: center;     
    padding: 10px 10px 0 10px;  
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.postbuttons div {
    float: left; 
    width: 33%;
}

.postbuttons.bottom-space {
    margin-bottom: 20px;
}

.overlay
{
	bottom:0;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:5;
    display: none;
    background-color: #000;
    opacity: 0.6;
}

#shoutTo {
    width: 300px;
    height: 135px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index:10;
    padding: 20px;
}
#shoutToSelection:hover, #shoutToCancel:hover, #shoutToFacebook:hover, #shoutToTwitter:hover, #shoutToEdit:hover, #shoutToYahoo:hover {
    cursor: pointer;
}

#shoutToSelection, #shoutToEdit, #shoutToCancel {
    color: #fff;
    font-weight: bold;
}

#editShoutToWrapper {
    width: 400px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index:10;
    padding: 20px 20px 10px 20px;  
}

#editShoutFacebook, #editShoutTwitter, #editShoutYahoo {
    width: 98%;
    height: 50px;    
    margin-bottom: 10px;
}

#dragImage {
    box-shadow: 0 0 10px 3px rgb(40,170,225);
    height: 128px;
    width: 128px;
    z-index: 100;
}

.highlightShout {
    box-shadow: 0 0 1px 7px yellow;
}

#twitterContent span.spanContent a, .feedItem.twitter div.detailsWrapper span.spanContent a {
    color: rgb(122,131,176);
    text-decoration: none;
}
#twitterContent span.more {
    font-size: 11pt;
    color: rgb(122,131,176);
    text-decoration: none;
}
#twitterContent span.hashTag {
    font-size: 11pt;
    color: rgb(160,160,160);
}

#yahooContent span.fromAddress a {    
    text-decoration: none;
}

.innertube.searchResults {
    overflow: auto;
    box-shadow: 0 0 7px rgb(163,192,216);
    border-left: 3px rgb(210,209,226) solid;
}

.searchItem {
	font-size: 10pt;
	border-bottom: 1px white solid;
    padding: 5px 0 5px 5px;
}

.searchItem:hover {
    box-shadow: 0 0 7px rgb(163,192,216);
    cursor: pointer;
}

.searchItem .imageWrapper img {
    width: 30px;
    height: auto;
}

.searchItem .imageWrapper {
    margin-right: 5px;
    float: left;
}
.searchItem .detailsWrapper {
    float: left;
    width: 170px;
}

.newEmail, .homeEmail {
    cursor: pointer;
}

/* FEED ITEM PREVIEW */
#feedItemPreviewWrapper {
    position: absolute;
    display: none;
    width: 380px;
    height: auto;
    font-family: Helvetica, Arial, 'lucida grande';
}
#feedItemPreview {
    position: absolute;
    width: 350px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 7px darkgrey;
    z-index: 10;
    height: auto;
}
#feedItemPreview .arrow {
    background-image: url("../images/arrow.png");
    position: absolute;
    right: -8px;
    top: 8px;
    height: 16px;
    width: 8px;
}
#feedItemPreview .imageWrapper {
    float: left;
    height: 40px;
}

#feedItemPreview .content {
    padding: 12px 12px 8px;
}

#feedItemPreview .imageWrapper img {
    height: 40px;
    width: 40px;
}
#feedItemPreview .detailsWrapper .user {
    padding-left: 7px;
    font-size: 14px;
    float: left;
    color: rgb(59, 89, 152);
}
#feedItemPreview .detailsWrapper .spanContent {
    padding-top: 8px;
    font-size: 14px;
    display: block;
}

#feedItemPreview .detailsWrapper .spanContent img, #feedItemPreview .detailsWrapper .spanContent iframe {
    height: 100%;
    width: 100%;
    max-height: 470px;
    padding-top: 8px;
}

#feedItemPreview .detailsWrapper .actions {
    display: block;
    padding-top: 8px;
    font-size: 12px;     
}
#feedItemPreview .detailsWrapper span.actions a {
    text-decoration: none;
    color: rgb(109, 132, 180); 
}
#feedItemPreview .detailsWrapper .actions a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#feedItemPreview .detailsWrapper .postStats {
    color: rgb(210,209,226);
    font-size: 12px;
}

#feedItemPreview .detailsWrapper .lastEdited {
    padding-left: 7px;
}

#feedItemPreview .commentsWrapper {
    border-top: 2px rgb(210,209,226) solid;
    padding: 8px 12px 12px;
}

#feedItemPreview .commentsWrapper .profile-pic {
    float: left;
    padding-right: 10px;
}

#feedItemPreview .commentsWrapper .commentsBox {
    float: left;
    height: 28px;
    border: 1px solid rgb(210,209,226);
}

#feedItemPreview .commentsWrapper .commentsBox textarea {
    height: 60%;
    vertical-align: -webkit-baseline-middle;
    padding: 0px 8px 0px;
    border: none;
    resize: none;
    outline: none;
    color: rgb(210,209,226);
}

/* REVISED */
.dropbox-item, .dropbox-folder, .dropbox-back {
    float: left;
    padding: 20px;
}
.dropbox-item:hover, .dropbox-folder:hover, .dropbox-back:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px #ffff99;
    background-color: #ffff99;
}
.dropbox-item .content, .dropbox-folder .content, .dropbox-back .content {

}
.dropbox-item .content img {
    /*border: 1px solid rgba(0,0,0,0.2);*/
    margin: auto;
    display: block;
    height: 64px;
}
.dropbox-folder .content img, .dropbox-back .content img {
    margin: auto;
    display: block;
    height: 64px;
}
.dropbox-item .content .caption, .dropbox-folder .content .caption, .dropbox-back .content .caption {
    display: block;
    white-space: pre-wrap;
    font-size: 13px;
    color: #3d464d;
    font-family: "Open Sans","lucida grande","Segoe UI";
    text-align: center;
}
.dropbox-preview {
    position: absolute;
    z-index:10;
    /*width: 300px;
    height: 135px;
    border-radius: 10px;
    background-color: #fff;
    
    padding: 20px;*/
}

.facebook-post {
    width: 90%;   
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    padding: 10px 10px 0 10px;  
}

.facebook-post .user {

}
.facebook-post .user .right-arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgb(145, 151, 163);
    display: inline-block;
    margin: 0 7px;
}

.facebook-post .profile-pic {
    float: left; 
    height: auto; 
    width: 41px; 
    padding-right: 5px;
    padding-bottom: 10px;
}
.facebook-post .user a {
    text-decoration: none;
    color: rgb(59, 89, 152);
    font-weight: bold;
}
.facebook-post .user a:hover {
    text-decoration: underline;
}
.facebook-post .timestamp {
    display: block;
    font-size: 8pt;
}
.facebook-post .body {
    padding-bottom: 10px;
}
.facebook-post .likes {
    padding-bottom: 10px;
}

.facebook-actions {
    width: 90%; 
    height: 30px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    vertical-align: middle; 
    background-color: rgb(238,238,238); 
    border-top: 1px rgb(225,225,225) solid;
    text-align: center;     
    padding: 10px 10px 0 10px;  
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}
.facebook-actions .like {
    float: left;
    width: 33%;
    border-right: 1px rgb(225,225,225) solid;
}
.facebook-actions .comment {
    float: left; 
    width: 33%; 
    border-right: 1px rgb(225,225,225) solid;
}
.facebook-actions .share {
    float: left; 
    width: 33%;
}